nav {
    background-color: #333;
    text-align: justify;
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    background-color: #198754; 
   }

ul {
    text-decoration-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
  }
