nav {
    background-color: #198754;
    color  : #000;
    text-align: justify;
}

li {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    background-color: white;
  }

ul {
    text-decoration-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  