.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #052c7a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(46, 6, 6);
}

.App-link {
  color: #086a86;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li a{
  display: block;
  color: rgb(0, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 144, 144);
  text-decoration: none;
  }
li{  
    float: left;
}
